# Project place file
/CIA-SAC-ACS.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# wally lock file
wally.lock

# sourcemap
/sourcemap.json

# old client init
/src/client/character/ACS_Client/oldinit.client.lua